name: Hello World
on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"  # 매일 UTC 09:00

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "Hello, GitHub Actions!"